<launch>
	<arg name="uav_name" default="$(optenv UAV_NAME uav)"/>
	<arg name="gui" default="true"/>
	<arg name="publish" default="true"/>
	<group ns="$(arg uav_name)">

        <arg name="DEBUG" default="false"/>
        <arg name="useCuda" default="true"/>
        <arg name="cudaMethod" default="0"/>

        <arg name="SamplePointSize" default="8"/>
        <arg name="ScanRadius" default="4"/>
        <arg name="StepSize" default="0"/>
	
		  	
	  	
                <node pkg="rosbag" type="play" name="player"  args="--clock /home/viktor/ros_workspace/src/MRS-OpticFlow/optic_flow/bags/_2016-08-17-15-12-58_circle_new_cross_rtk.bag" />
		
		<!--/home/viktor/ros_workspace/src/mbzirc/bag_files/_2016-08-17-15-42-30_cross_above_car_piksi.bag-->

	
	  	<node name="optic_flow" pkg="optic_flow" type="optic_flow_node" output="screen" >                
                        <param name="DEBUG"		type="bool" value="$(arg DEBUG)"/>
		 	<param name="gui"             type="bool" value="$(arg gui)"/>
		 	<param name="publish"         type="bool" value="$(arg publish)"/>
                        <param name="FrameSize"       type="int" value="240"/>

                        <param name="SamplePointSize" type="int" value="$(arg SamplePointSize)"/>
                        <param name="ScanRadius"    type="int" value="$(arg ScanRadius)"/>
                        <param name="StepSize"	type="int" value="$(arg StepSize)"/>

        		<rosparam file="$(find optic_flow)/yaml/ost.yaml"/>

        		
        		<param name="ScaleFactor"	type="int" value="2"/>
        		
        		<param name="CameraImagePath"    type="string" value="/uav4/bluefox/image_raw/compressed"/>
        		<param name="RangerDataPath"    type="string" value="/uav4/teraranger/range"/>
        		<param name="CameraImageCompressed"    type="bool" value="true"/>

                        <param name="useCuda"		type="bool" value="$(arg useCuda)"/>
                        <param name="cudaMethod"	type="int" value="$(arg cudaMethod)"/>
                </node>
	  	
                <node pkg="rosbag" type="record" name="recorder"  args="/uav4/mbzirc_odom/precise_odom /optFlow/velocity /optFlow/velocity -O /home/viktor/ros_workspace/src/MRS-OpticFlow/optic_flow/bags/outputs/SpeedCompareB$(arg SamplePointSize)R$(arg ScanRadius)S$(arg StepSize).bag" />

	</group>
</launch>


