<launch>
	<arg name="uav_name" default="$(optenv UAV_NAME uav)"/>
	<arg name="gui" default="true"/>
	<arg name="publish" default="true"/>
	<group ns="$(arg uav_name)">
	
		  	
	  	
		<node pkg="rosbag" type="play" name="player"  args="--clock /mnt/mbzirc/camp2/rosbags/uav4/cross_detection/_2016-08-17-15-12-58_circle_new_cross_piksi.bag" />	
		
		<!--/home/viktor/ros_workspace/src/mbzirc/bag_files/_2016-08-17-15-42-30_cross_above_car_piksi.bag-->

	
	  	<node name="optic_flow" pkg="optic_flow" type="optic_flow_node" output="screen" >
		 	<!-- Use gui? --> 
		 	<param name="gui"             type="bool" value="$(arg gui)"/>
		 	<param name="publish"         type="bool" value="$(arg publish)"/>
		 	<param name="FrameSize"       type="int" value="64"/>
		 	<param name="SamplePointSize" type="int" value="8"/>
			<param name="ScanRadius"    type="int" value="4"/>
        		<rosparam file="$(find optic_flow)/yaml/ost.yaml"/>
        		
        		<param name="ScaleFactor"	type="int" value="2"/>
        		
        		<param name="CameraImagePath"    type="string" value="/uav4/bluefox/image_raw/compressed"/>
        		<param name="RangerDataPath"    type="string" value="/uav4/teraranger/range"/>
        		<param name="CameraImageCompressed"    type="bool" value="true"/>
        		
	  	</node>
	  	
	  	<node pkg="rosbag" type="record" name="recorder"  args="/uav4/mbzirc_odom/precise_odom /optFlow/velocity /optFlow/velocity -O /home/viktor/ros_workspace/src/mbzirc/bag_files/SpeedCompareS8R4.bag" />

	</group>
</launch>
