<launch>
	<arg name="uav_name" default="$(optenv UAV_NAME uav)"/>
	<arg name="gui" default="true"/>
	<arg name="publish" default="true"/>
	<group ns="$(arg uav_name)">

        <arg name="DEBUG" default="false"/>
        <arg name="useCuda" default="true"/>
        <arg name="method" default="3"/>
        <arg name="info" default=""/>

        <arg name="FrameSize" default="240"/>
        <arg name="SamplePointSize" default="8"/>
        <arg name="ScanRadius" default="4"/>
        <arg name="StepSize" default="0"/>
        <arg name="NumberOfBins" default="20"/>
	
        <arg name="useOdom" default="true"/>

        <arg name="cameraRotated" default="true"/>

        <arg name="ScaleFactor"	default="1"/>
		  	
	  	
                <node pkg="rosbag" type="play" name="player"  args="--clock $(env HOME)/ros_workspace/src/MRS-OpticFlow/optic_flow/bags/_2016-10-27-17-42-04_viktor_yaw_cmd3.bag -s 0" />
		
                <!--/home/tomas/ros_workspace/src/mbzirc/bag_files/_2016-08-17-15-42-30_cross_above_car_piksi.bag-->

	
	  	<node name="optic_flow" pkg="optic_flow" type="optic_flow_node" output="screen" >                
                        <param name="DEBUG"		type="bool" value="$(arg DEBUG)"/>
		 	<param name="gui"             type="bool" value="$(arg gui)"/>
		 	<param name="publish"         type="bool" value="$(arg publish)"/>
                        <param name="FrameSize"       type="int" value="$(arg FrameSize)"/>

                        <param name="SamplePointSize" type="int" value="$(arg SamplePointSize)"/>
                        <param name="ScanRadius"    type="int" value="$(arg ScanRadius)"/>
                        <param name="StepSize"	type="int" value="$(arg StepSize)"/>

        		<rosparam file="$(find optic_flow)/yaml/ost.yaml"/>
                        <rosparam file="$(find optic_flow)/yaml/cam_rot.yaml"/>
        		
                        <param name="ScaleFactor"	type="int" value="1"/>
        		
                        <param name="CameraImagePath"    type="string" value="/uav5/bluefox/image_raw/compressed"/>
                        <param name="RangerDataPath"    type="string" value="/uav5/teraranger/range"/>
        		<param name="CameraImageCompressed"    type="bool" value="true"/>

                        <param name="useCuda"		type="bool" value="$(arg useCuda)"/>
                        <param name="method"            type="int" value="$(arg method)"/>

                        <param name="useOdom"           type="bool" value="$(arg useOdom)"/>
                        <param name="NumberOfBins"	type="int" value="$(arg NumberOfBins)"/>

                        <param name="cameraRotated"     type="bool" value="$(arg cameraRotated)"/>
                </node>
	  	
                <node pkg="rosbag" type="record" name="recorder"  args="/uav5/mbzirc_odom/new_odom /optFlow/velocity /optFlow/velocity_raw -O /$(env HOME)/ros_workspace/src/MRS-OpticFlow/optic_flow/bags/eval_out/SpeedCompareM$(arg method)B$(arg SamplePointSize)R$(arg ScanRadius)S$(arg StepSize)F$(arg FrameSize)-$(arg info).bag" />

	</group>
</launch>


